@import "bootstrap-sprockets";
@import "bootstrap";

.placesbox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/purty_wood.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/px_by_Gre3g.png');
  border-radius: 0;
  box-shadow: 0px 2px 1px #323232;
  margin-bottom:0;
}

.navbar-inverse .navbar-brand {
  color: #EBA400;
  font-family: 'grutchshadedregular';
  font-size: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.pagination {
  margin: 0;
}

.row {
  padding: 20px;
}

.field_with_errors {
  color: #BF0606;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
background: rgba(255, 255, 255, 0.6);
border-left:1em solid #eee;
margin:1.5em 1em;
padding:.5em 1em;
quotes:"\201C""\201D";
}

blockquote :first-child {
display:inline;
}
blockquote :last-child {
margin-bottom:0;
}

.imagesize {
  max-width: 100%;
  max-height: 500px;
}

.username{
  color: #EBA400;
-webkit-text-stroke: 0.5px;
-webkit-text-stroke-color: #7D7D7D;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 550px;
    max-width: 100%;
    margin:0 auto;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    font-weight:100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    position:absolute;
    left:0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}